@import "@fontsource/roboto/300.css";
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

.login-form {
    margin: 48px;
    padding: 8px;
}

body {
    margin: 0;
}

.footer-link:hover {
    color: #616161;
    text-decoration-color: #616161;
    opacity: 0.9;
  }

th.gridjs-th-sort .gridjs-th-content {
    width: 100%;
}

.gridjs-table{
    min-width: 100%;
}

table {
    font-family: 'roboto';
    font-weight: 400;
}

tr:hover td, tr:hover th {
    background-color: rgba(0, 0, 0, 0.1);
}

.EditButton {
    font-size: 15px;
    margin-right: 3px;
}

.EditButton:hover {
    text-decoration: underline;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover, .active {
    border-radius: 30px;
    background-color: #616161;
}

table {
    font-family: "Roboto","Helvetica","Arial",sans-serif;;
    font-weight: 400;
    font-size: 1rem;
}